<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Doctor Enquiry </title>
</head>
<body>
<form method="POST" action="/alldoctors">
  <input type="submit" value="List all Doctors">
</form>
<form method="POST" action="/displayv3">
<p>Search doctor by name </p>
<p>Name of Doctor: <input type="text" name="dname"> <input type="submit" value="Check record"></p>
<p> Search  Doctor by ssn </p>
<p>SSN of Doctor: <input type="text" name="dssn"> <input type="submit" value="Check record"></p>
<p> Search Doctor by expirience </p>
    <p>Expirience: <input type="number" name="exp1"> to <input type="number" name="exp2"> <input type="submit" value="Check record"> </p>

    <p> Search Doctor by speciality </p>
<p>speciality: <input type="text" name="speciality"> <input type="submit" value="Check record"></p>
</form>
<br>

<div> <p> Add a doctor record  </p> </div>
Note: Make sure ssn is unique
<form method="POST" action="/adddoctor">
    name: <br>
    <input type="text" name="dname"> <br>
    ssn: <br>
    <input type="text" name="dssn"> <br>
    expirience:<br>
    <input type=number" name="exp"> <br>
    speciality: <br>
    <input type="text" name="speciality"> <br>
    <input type="submit" value="add">
</form>

<br>
<p> Delete a doctor record  </p> </div>
<form method="POST" action="/deldoctor">
    name: <br>
    <input type="text" name="dname"> <br>
    <input type="submit" value="Delete">
</form>
<a href = "\">Go back to Home page</a>

</body>
</html>