<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Registry</title>
</head>
<body>
    <h1>Hospital Registry</h1>
    <br>
<form method="POST" action="/patient">
<p><input type="submit" value="Patients Info"></p>
</form>
<form method="POST" action="/doctor">
<p><input type="submit" value="Doctor Info"></p>
</form>
<form method="POST" action="/nurse">
<p><input type="submit" value="Nurses Info"></p>
</form>
<form method="POST" action="/drug">
<p><input type="submit" value="Drugs Info"></p>
</form>
</body>
</html>